<div class="row grey darken-3 app" style="margin-bottom:0px;margin-right:0px;margin-left:0px;">
  <div class="col s12 m12">
    <div class="card grey">
      <div class="card-image grey" style="max-width:100%;">
        <img src="assets/images/1.jpg">
      </div>
    </div>
  </div>
</div>
<div class="row grey darken-3 app" style="margin-bottom:0px;margin-right:0px;margin-left:0px;">
  <div class="col s12 m9">
    <div class="card horizontal grey centered">
      <div class="card-image grey" style="max-width:75%;width:75%;">
        <img src="assets/images/2.jpg">
      </div>
      <div class="card-content grey-text text-darken-4" style="width:25%;">
        <div class="row">
          <span class="col s4">Name:</span>
          <span class="col s8">Barry Kenny</span>
        </div>
        <div class="row">
          <span class="col s4">Email:</span>
          <span class="col s8">email@barry.ky</span>
        </div>
        <fieldset>
          <legend><i class="material-icons prefix">location_city</i> Location</legend>
          <div class="row">
            <span class="col s6">Town:</span>
            <span class="col s6">Maynooth</span>
          </div>
          <div class="row">
            <span class="col s6">County:</span>
            <span class="col s6">Co. Kildare</span>
          </div>
          <div class="row">
            <span class="col s6">Country:</span>
            <span class="col s6">Ireland</span>
          </div>
        </fieldset>
        <fieldset>
          <legend><i class="material-icons prefix">group</i> Social Media</legend>
          <div class="row">
            <span class="col s6">Facebook:</span>
            <span class="col s6"><a href="https://www.facebook.com/ApollyonVeyron">Facebook</a></span>
          </div>
          <div class="row">
            <span class="col s6">Github:</span>
            <span class="col s6"><a href="https://github.com/BarryMKenny" color="gold">Github</a></span>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>