<div class="row grey darken-3" style="margin-left:0px;margin-right:0px;">
  <div class="col s12 m12">
    <div class="card grey" style="max-width:32%;width:32%;float:left;margin-right:20px;">
    <div class="card-content grey-text text-darken-4">
        <a [routerLink]="['amsterdam']" 
	    	class="waves-effect waves-grey btn-flat left header-button">Amsterdam</a>
      </div>
      <a [routerLink]="['/amsterdam']">
      <div class="card-image grey" >
        <img src="assets/images/amsterdam/1.jpg">
      </div>
      </a>
    </div>
    
    <div class="card grey" style="max-width:33%;width:32%;float:left;">
    <div class="card-content grey-text text-darken-4">
        <a [routerLink]="['/iceland']" 
	    	class="waves-effect waves-grey btn-flat left header-button">Iceland</a>
      </div>
      <a [routerLink]="['/iceland']">
      <div class="card-image grey" >
        <img src="assets/images/iceland/1.jpg">
      </div>
      </a>
    </div>
    
    <div class="card grey" style="max-width:32%;width:32%;float:left;margin-left:20px;">
    <div class="card-content grey-text text-darken-4">
        <a [routerLink]="['donadea']" 
	    	class="waves-effect waves-grey btn-flat left header-button">Donadea</a>
      </div>
      <a [routerLink]="['/donadea']">
      <div class="card-image grey" >
        <img src="assets/images/donadea/1.jpg">
      </div>
      </a>
    </div>
  </div>
  <!-- <div class="card grey" style="max-width:100%;width:100%;"> 
     <div class="card-image grey" >
        <img src="assets/images/DSC_0419.jpg">
      </div>
  </div> -->
</div>