<div class="row grey darken-3 app" style="margin-bottom:0px;margin-right:0px;margin-left:0px;">
  <ul class="collection " style="bottom:0;">
    <li *ngFor="let picture of pictureList" class=" avatar grey darken-3" >
      <div *ngIf="(picture.id % 4 == 0) && (picture.id % 8 != 4)">
        <img [src]="picture.image" class="card left" style="max-width: 66%; margin-left: 0.5%; margin-bottom: 0.2%">
      </div>
      <div *ngIf="(picture.id % 4 == 1) && (picture.id % 8 != 5)">
        <img [src]="picture.image" class="card left" style="max-width: 32.5%; margin-left: 0.5%; margin-bottom: 0.2%">
      </div>
      <div *ngIf="(picture.id % 4 == 2) && (picture.id % 8 != 6)">
        <img [src]="picture.image" class="card left" style="max-width: 32.5%; margin-left: 0.5%; margin-bottom: 0.2%;">
      </div>
      <div *ngIf="(picture.id % 4 == 3) && (picture.id % 8 != 7)">
        <img [src]="picture.image" class="card right" style="max-width: 66%; margin-right: 0.5%; margin-bottom: 0.2%">
      </div>
      <div *ngIf="(picture.id % 4 == 0) && (picture.id % 8 == 4)">
        <img [src]="picture.image" class="card right" style="max-width: 32.5%; margin-right: 0.5%; margin-bottom: 0.2%">
      </div>
      <div *ngIf="(picture.id % 4 == 1) && (picture.id % 8 == 5)">
        <img [src]="picture.image" class="card right" style="max-width: 32.5%; margin-right: 0.5%; margin-bottom: 0.2%">
      </div>
    </li>
</ul>
</div>