/* #### Mobile Phones / Tablets #### */
@media screen and (max-width: 1024px){
 	.header-button {
		width:50%;
		height:34%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 150%;
		color:white;
	}

	.center-header-button {
		width:100%;
		height:34%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 250%;
		color:white;
	}

	.header-button:focus, .header-button:hover {
		background-color: gold !important ;
		color: dimgray !important ;
	}

	.center-header-button:focus, .center-header-button:hover {
		background-color: gold !important ;
		color: dimgray !important ;	
	}

	.border-header {
	    border-left-width: 0px;
		border-left-style: solid; 
		border-left-color: white; 
		border-right-width: 0px;
		border-right-style: solid; 
		border-right-color: white; 
		border-bottom-width: 1px;
		border-bottom-style: solid; 
		border-bottom-color: gold; 
		border-top-width: 0px;
		border-top-style: solid; 
		border-top-color: gold; 
	}

	.mobile-header {
		height: 189px;
	}
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  	.header-button {
		width:20%;
		height:100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 150%;
		color:white;
	}

	.center-header-button {
		width:20%;
		height:100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 250%;
		color:white;
	}

	.header-button:focus, .header-button:hover {
		background-color: gold !important ;
		color: dimgray !important ;
	}

	.center-header-button:focus, .center-header-button:hover {
		background-color: gold !important ;
		color: dimgray !important ;	
	}

	.border-header {
	    border-left-width: 0px;
		border-left-style: solid; 
		border-left-color: white; 
		border-right-width: 0px;
		border-right-style: solid; 
		border-right-color: white; 
		border-bottom-width: 1px;
		border-bottom-style: solid; 
		border-bottom-color: gold; 
		border-top-width: 0px;
		border-top-style: solid; 
		border-top-color: gold; 
	}
}

