<div class="row grey darken-3 app" style="margin-bottom:0px;margin-right:0px;margin-left:0px;">
  <ul class="collection " style="bottom:0;">
    <li *ngFor="let picture of pictureList" class=" avatar grey darken-3" >
      <div *ngIf="picture.id % 6 == 0">
        <img [src]="picture.image" class="card left" style="max-width: 66%; margin-left: 0.5%; margin-bottom: 0.2%">
      </div>
      <div *ngIf="picture.id % 6 == 1">
        <img [src]="picture.image" class="card left" style="max-width: 32.5%; margin-left: 0.5%; margin-bottom: 0.2%">
      </div>
      <div *ngIf="picture.id % 6 == 2">
        <img [src]="picture.image" class="card left" style="max-width: 32.5%; margin-left: 0.5%; margin-bottom: 0.2%;">
      </div>
      <div *ngIf="picture.id % 6 == 3">
        <img [src]="picture.image" class="card right" style="max-width: 66%; margin-right: 0.5%; margin-bottom: 0.2%">
      </div>
      <div *ngIf="picture.id % 6 == 4">
        <img [src]="picture.image" class="card right" style="max-width: 32.5%; margin-right: 0.5%; margin-bottom: 0.2%">
      </div>
      <div *ngIf="picture.id % 6 == 5">
        <img [src]="picture.image" class="card right" style="max-width: 32.5%; margin-right: 0.5%; margin-bottom: 0.2%">
      </div>
    </li>
</ul>
</div>